<div class="row">
        <div class="col-sm-4" >
          <div class="card mt-5 border-0 shadow text-white" style="background-color: #21D4FD;background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);">
            <div class="card-body">
              <h5 class="card-title text-center"> <i class="gg-info"></i> Post Counts</h5>
              <h6 class="card-subtitle mb-3 text-muted"></h6>
              <div class="card-text">
                <h3 class="text-center"> <%= @myPost.length%>  </h3>
                <p class="text-center"> From different Locations </p>
              </div>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 border-0 shadow text-white" style="background-image: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);background-image: -moz-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);background-image: -o-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
            <div class="card-body">
              <h5 class="card-title text-center"> <i class="gg-info"></i> Post Counts</h5>
              <h6 class="card-subtitle mb-3 text-muted"></h6>
              <div class="card-text">
                <h3 class="text-center"> <%= @myPost.length%>  </h3>
                <p class="text-center"> From different Locations </p>
              </div>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 border-0 shadow text-white" style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);">
            <div class="card-body">
              <h5 class="card-title text-center"> <i class="gg-info"></i> Post Counts</h5>
              <h6 class="card-subtitle mb-3 text-muted"></h6>
              <div class="card-text">
                <h3 class="text-center"> <%= @myPost.length%>  </h3>
                <p class="text-center"> From different Locations </p>
              </div>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
            </div>
          </div>
        </div>
      </div>