<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right col-sm-2" id="sidebar-wrapper">
    <div class="sidebar-heading"> <b> Dashboard </b> </div>
    <% if @current_user.class.table_name === "users" %>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"> My Profile</a>
        <a href="/mechanic" class="list-group-item list-group-item-action bg-light">Find Mechanics</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Recent Post</a>
      </div>
    <% else %>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Statistics</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Overview</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Recent Bid</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Works</a>
      </div>
    <% end %>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Account Settings</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Find Jobs</a>
              <a class="dropdown-item" href="#">Notifications</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="#">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <section class="d-flex align-items-center">
        <button class="shadow-lg btn mt-5 p-3 bg-white"><i class="gg-list"></i></button>
        <div class="ml-5 mt-5">
          <h4>Advertisement</h4>
          <p>This is an example dashboard created using build-in elements and components.</p>
        </div>
      </section>
      <%# <section header end> %>
      <%# analytics session start %>
      <div class="row">
        <div class="col-sm-4" >
          <div class="card mt-5 border-0 shadow text-white" style="background-color: #21D4FD;background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);">
            <div class="card-body">
              <h5 class="card-title text-center"> <i class="gg-info"></i> Post Counts</h5>
              <h6 class="card-subtitle mb-3 text-muted"></h6>
              <div class="card-text">
                <h3 class="text-center"> 13 Posts  </h3>
                <p class="text-center"> From different Locations </p>
              </div>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 border-0 shadow text-white" style="background-image: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);background-image: -moz-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);background-image: -o-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);">
            <div class="card-body">
              <h5 class="card-title text-center"> <i class="gg-info"></i> Post Counts</h5>
              <h6 class="card-subtitle mb-3 text-muted"></h6>
              <div class="card-text">
                <h3 class="text-center"> 13 Posts  </h3>
                <p class="text-center"> From different Locations </p>
              </div>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card mt-5 border-0 shadow text-white" style="background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);">
            <div class="card-body">
              <h5 class="card-title text-center"> <i class="gg-info"></i> Post Counts</h5>
              <h6 class="card-subtitle mb-3 text-muted"></h6>
              <div class="card-text">
                <h3 class="text-center"> 13 Posts  </h3>
                <p class="text-center"> From different Locations </p>
              </div>
              <%# <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a> %>
            </div>
          </div>
        </div>
      </div>
      <%# analytics section end %>
      <%# notifications and interaction bar %>
      <div class="row">
        <%# notifications bar %>
        <div class="col-sm-6">
          <div class="card mt-5">
            <div class="card-header py-3 d-flex align-items-center">
              <i class="gg-bell"></i>
              <p class="mx-3 my-0">Notifications</p>
              <div class="text-right flex-grow-1">
                <div class="nav-item dropdown">
                  <div class="p-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="gg-menu" style="margin-left: auto;">
                    </i>
                  </div>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Find Jobs</a>
                    <a class="dropdown-item" href="#">Notifications</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#">Log Out</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <% if @myPost.count != 0 %>
            <% for item in @myPost %>
              <%= item.title %>
            <% end %>
          <% end %>
        </div>
        <%# end %>
        <%# message bar %>
        <div class="col-sm-6">
          <div class="card mt-5">
            <div class="card-header py-3 d-flex align-items-center">
              <i class="gg-inbox"></i>
              <p class="mx-3 my-0">Notifications</p>
              <div class="text-right flex-grow-1 ">
                <div class="nav-item dropdown">
                  <div class="p-2" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="gg-layout-grid" style="margin-left: auto;">
                    </i>
                  </div>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Find Jobs</a>
                    <a class="dropdown-item" href="#">Notifications</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="#">Log Out</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <%= render 'dashboard/chat' %>
            </div>
          </div>
          <% if @myPost.count != 0 %>
            <% for item in @myPost %>
              <%= item.title %>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <script>
      document.querySelector('nav').classList.add('hidden')
      document.querySelector("#menu-toggle").addEventListener('click', () => {
        document.querySelector("#sidebar-wrapper").classList.toggle("hidden");
      })
    </script>
