<div class="pt-5 container">
    <div class="mt-5 p-2">
        Message                                                                                                                                                                
    </div>

    <ul class="list-group"> 
    <% chatWith(@message).each do |individual| %>
      <div class="list-group-item"> 
        <%= link_to "#{individual[:name]}" , "/message/#{individual[:table_id]}" %>
      </div>
    <% end %>

    </ul>
</div>