<div class="pt-5 container">
    <h2 class="mt-5"> All Jobs </h2>
    <div class=row>
        <% @work.each do |item| %>
            <div class="col-sm-4 p-3 m-3 border">
                <p> Problem :<%= item.title %> </p> 
                <p> Location : <%= item.location %> </p>
                <p> Amount : <%= item.amount %> </p>
                <a href="/job/<%= item.id %>" class="btn btn-primary" bid> Bid  </a>
                
            </div>
        <% end %>
    </div>
</div>
