<div class="container mt-5 pt-5">
  <div class="mt-5">
    <h1 class="text-center">  Post a Job </h1>
    <%= @current_user[:name] %>
  </div>
  <%= form_tag("/job", method: "post", class: "form col-sm-6 m-auto" ) do %>
    <input class="form-control mt-3" type="text" name="title" placeholder="Title">
    <input class="form-control mt-3" type="number" name="amount" placeholder="0.00">
    <input class="form-control mt-3" type="text" name="location" placeholder="location">
    <textarea class="form-control mt-3" name="description" placeholder="Description"> 
    </textarea>
    <input class="form-control mt-3 btn" type="submit" value="Post">
  <% end %>
</div>
