/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'node_modules/bootstrap/dist/css/bootstrap';

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
    min-height: 100vh;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}



.hidden {
  display: none;
}

.alert-dismissible {
  z-index: 4444444;
  top: 100px;
  width: 50%;
  position: absolute;
  right: 10px;
}

.absolute-header-text {
  position: absolute;
  top: 250px;
  z-index: 1;
  width: 350px;
  margin: 0 50px;
}

.carousel img {
  opacity: 0.8;
}

.slide-in-elliptic-top-fwd {
  animation: slide-in-elliptic-top-fwd .7s cubic-bezier(.25, .46, .45, .94) both
}

@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0
  }

  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1
  }
}




.gg-list {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 22px;
  height: 20px;
  border: 2px solid;
  border-radius: 3px
}
.gg-list::after,
.gg-list::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 2px;
  height: 2px;
  background: currentColor;
  top: 3px;
  left: 3px;
  box-shadow:
      0 4px 0,
      0 8px 0
}
.gg-list::after {
  border-radius: 3px;
  width: 8px;
  left: 7px
}

.gg-info {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px
}
.gg-info::after,
.gg-info::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px
}
.gg-info::after {
  bottom: 2px;
  height: 8px
}
.gg-info::before {
  height: 2px;
  top: 2px
}


.gg-bell,
.gg-bell::before {
    border-top-left-radius: 100px;
    border-top-right-radius: 100px
}
.gg-bell {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    border: 2px solid;
    border-bottom: 0;
    width: 14px;
    height: 14px
}
.gg-bell::after,
.gg-bell::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-bell::before {
    background: currentColor;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 3px
}
.gg-bell::after {
    border-radius: 3px;
    width: 16px;
    height: 10px;
    border: 6px solid transparent;
    border-top: 1px solid transparent;
    box-shadow:
        inset 0 0 0 4px,
        0 -2px 0 0;
    top: 14px;
    left: -3px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px
}



.gg-menu {
  transform: scale(var(--ggs,1))
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 3px;
  background: currentColor
}
.gg-menu::after,
.gg-menu::before {
  content: "";
  position: absolute;
  top: -6px
}
.gg-menu::after {
  top: 6px
}


.gg-inbox {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  box-shadow: inset 0 -2px 0 0;
  border-radius: 3px
}
.gg-inbox::after,
.gg-inbox::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  background: currentColor;
  height: 7px;
  width: 7px;
  border-radius: 2px;
  bottom: -2px
}
.gg-inbox::before {
  left: -2px
}
.gg-inbox::after {
  right: -2px
}



.gg-layout-grid {
  transform: scale(var(--ggs,1))
}
.gg-layout-grid,
.gg-layout-grid::after,
.gg-layout-grid::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 10px;
  height: 10px
}
.gg-layout-grid::after,
.gg-layout-grid::before {
  content: "";
  position: absolute;
  height: 4px;
  border-left: 4px solid;
  border-right: 4px solid
}
.gg-layout-grid::before {
  top: 0
}
.gg-layout-grid::after {
  bottom: 0
}