Hello
<div class="container">
<div id="carouselExampleControls" class="carousel slide mt-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
    <div class="absolute-header-text slide-in-elliptic-top-fwd" style="color:black">
      <h1> Hire expert freelancers for any job, online </h1>
      <p> Millions of small businesses use Freelancer to turn their ideas into reality. </p>
    </div>
      <img class="d-block w-100" src="https://www.jukeauto.com/images/banner-reviews.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
    <div class="absolute-header-text slide-in-elliptic-top-fwd" style="color:white">
      <h1> Hire expert freelancers for any job, online </h1>
      <p> Millions of small </p>
    </div>
      <img class="d-block w-100" src="https://di-uploads-pod5.dealerinspire.com/autocitysd/uploads/2019/03/auto-repair-is-expensive.jpg" alt="Second slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row my-5">
    <div class="col-sm">
      <div class="card">
        <img class="m-auto" width="100" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/wrench-screwdriver-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Post a job</h5>
          <p class="card-text"> It's easy. Simply post a job you need completed and receive competitive bids from nearest Engineers within minutes.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    <div class="col-sm">
        <div class="card">
          <img class="m-auto" width="100" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/wrench-screwdriver-icon.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Find Engineers Anywhere</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </div>
    <div class="col-sm">
      <div class="card">
      <img class="m-auto" width="100" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/512/wrench-screwdriver-icon.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pay safely</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    </div>
  </div>


</div>